:root{
	--primary:#F26731 !important;
	--gradient: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%) !important;
	--gradientY: linear-gradient(to top,#f55f8d 0,#f8ae56 100%,#f55f8d 100%) ;
	--gradient-sec: linear-gradient(to right,#0e1b1f 0,#092933 51%,#0e1b1f 100%) ;
	--quote: url(../images/quotes-1.svg) !important;
	--primary-hover: # !important;
	--primary-dark: #3794D1 !important;
	--rgba-primary-05: rgba(245, 95, 141, 0.05) !important;
	--rgba-primary-1: rgba(245, 95, 141, 0.1) !important;	
	--rgba-primary-2: rgba(245, 95, 141, 0.2) !important;
	--rgba-primary-3: rgba(245, 95, 141, 0.3) !important;
	--rgba-primary-4: rgba(245, 95, 141, 0.4) !important;
	--rgba-primary-5: rgba(245, 95, 141, 0.5) !important;
	--rgba-primary-6: rgba(245, 95, 141, 0.6) !important;
	--rgba-primary-7: rgba(245, 95, 141, 0.7) !important;
	--rgba-primary-8: rgba(245, 95, 141, 0.8) !important;
	--rgba-primary-9: rgba(245, 95, 141, 0.9) !important;
	--primary-light: #ffedf3 !important;
}
.gradient{
	background-image:var(--gradient);
}
body{
	color:#636363;	
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color:#262626;
}